<footer class="footer-section">
  <div id="footer-top">
    
    <div id="section-a">
      <ul id="Social-link">
        <li>Google</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>LinkedIn</li>
      </ul>
    </div>

    <div id="section-b">
      <ul id="Details">
        <li>one</li>
        <li>two</li>
        <li>Three</li>
      </ul>
    </div>
    
    <div id="section-c">
      <ul i="detail-2">
        <li>one</li>
        <li>two</li>
        <li>Three</li>
      </ul>
    </div>
  
  </div>

  <div class="bottom-footer">
    <ul id="short-detail">
      <li>Contact Zettamine</li>
      <li>Privacy & Coockies</li>
      <li>Terms & Conditoin</li>
      <li>Trademark</li>
      <li>Zettamine 2019</li>
    </ul>
  </div>

</footer>