<div>
    <section class="about-section">
        <mat-card class="about-card">
            <mat-card-header>
                <h3>Portfolio</h3>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis deserunt dolorem fugit hic quae quibusdam repellendus velit voluptatem! Distinctio excepturi exercitationem explicabo facilis hic maxime odit officiis repudiandae ullam!</span>
                    <span>Commodi consequuntur delectus fugit inventore iusto laboriosam officia perspiciatis quaerat temporibus? Ad autem cumque delectus dolor eaque incidunt, voluptatibus. Aliquid consectetur dignissimos magni nulla, quisquam quod repellendus sit ullam voluptate.</span>
                    <span>Accusantium consequuntur hic laborum laudantium libero, neque nobis, non numquam officiis optio possimus praesentium, repudiandae tenetur totam ullam voluptas voluptatum. Commodi ea expedita minus necessitatibus praesentium! Error hic obcaecati suscipit!</span>
                    <span>Aspernatur dolore ipsam magni odit quas quisquam temporibus, voluptates. Alias aperiam dolor fuga nisi non quis! Aspernatur cupiditate, deleniti dignissimos eos illum iste laboriosam modi natus nobis, quo ratione repudiandae!</span
                    ><span>Dolorem eaque neque odio? Adipisci, dolor, enim. Dignissimos excepturi ipsam, laborum mollitia officiis sapiente sed. Animi dicta et in ipsum nam, nihil repellendus sed sint unde ut. Molestias, officiis, veritatis?</span>
                </p>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="about-section">
        <mat-card class="about-card">
            <mat-card-header>
                <h3>Zettamine</h3>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis deserunt dolorem fugit hic quae quibusdam repellendus velit voluptatem! Distinctio excepturi exercitationem explicabo facilis hic maxime odit officiis repudiandae ullam!</span>
                    <span>Commodi consequuntur delectus fugit inventore iusto laboriosam officia perspiciatis quaerat temporibus? Ad autem cumque delectus dolor eaque incidunt, voluptatibus. Aliquid consectetur dignissimos magni nulla, quisquam quod repellendus sit ullam voluptate.</span>
                    <span>Accusantium consequuntur hic laborum laudantium libero, neque nobis, non numquam officiis optio possimus praesentium, repudiandae tenetur totam ullam voluptas voluptatum. Commodi ea expedita minus necessitatibus praesentium! Error hic obcaecati suscipit!</span>
                    <span>Aspernatur dolore ipsam magni odit quas quisquam temporibus, voluptates. Alias aperiam dolor fuga nisi non quis! Aspernatur cupiditate, deleniti dignissimos eos illum iste laboriosam modi natus nobis, quo ratione repudiandae!</span
                    ><span>Dolorem eaque neque odio? Adipisci, dolor, enim. Dignissimos excepturi ipsam, laborum mollitia officiis sapiente sed. Animi dicta et in ipsum nam, nihil repellendus sed sint unde ut. Molestias, officiis, veritatis?</span>
                </p>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="about-section">
        <mat-card class="about-card">
            <mat-card-header>
                <h3>Management</h3>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis deserunt dolorem fugit hic quae quibusdam repellendus velit voluptatem! Distinctio excepturi exercitationem explicabo facilis hic maxime odit officiis repudiandae ullam!</span>
                    <span>Commodi consequuntur delectus fugit inventore iusto laboriosam officia perspiciatis quaerat temporibus? Ad autem cumque delectus dolor eaque incidunt, voluptatibus. Aliquid consectetur dignissimos magni nulla, quisquam quod repellendus sit ullam voluptate.</span>
                    <span>Accusantium consequuntur hic laborum laudantium libero, neque nobis, non numquam officiis optio possimus praesentium, repudiandae tenetur totam ullam voluptas voluptatum. Commodi ea expedita minus necessitatibus praesentium! Error hic obcaecati suscipit!</span>
                    <span>Aspernatur dolore ipsam magni odit quas quisquam temporibus, voluptates. Alias aperiam dolor fuga nisi non quis! Aspernatur cupiditate, deleniti dignissimos eos illum iste laboriosam modi natus nobis, quo ratione repudiandae!</span
                    ><span>Dolorem eaque neque odio? Adipisci, dolor, enim. Dignissimos excepturi ipsam, laborum mollitia officiis sapiente sed. Animi dicta et in ipsum nam, nihil repellendus sed sint unde ut. Molestias, officiis, veritatis?</span>
                </p>
            </mat-card-content>
        </mat-card>
    </section>

</div>
