<div class="summary">
    <div class="left-section">
        <section class="section-a">
            <ul>
                <li>
                    <span class="sa">Previous close</span>
                    <span class="sb">{{close}}</span>
                </li>
                <li>
                    <span class="sa">Open</span>
                    <span class="sb">{{open}}</span>
                </li>
                <li>
                    <span class="sa">volume</span>
                    <span class="sb">{{Volume}}</span>
                </li>
            </ul>
        </section>

        <section class="section-b">
            <ul>
                <li>
                    <span class="sa">Day's range</span>
                    <span class="sb">{{drange}}</span>
                </li>
                <li>
                    <span class="sa">52 days Range</span>
                    <span class="sb">{{Frange}}</span>
                </li>
                <li>
                    <span class="sa">Average Volume</span>
                    <span class="sb">{{Avolume}}</span>
                </li>
            </ul>
        </section>
    </div>

  <div class="chartSection">
   
  </div>

</div>