<mat-card class="login-card">
    <mat-card-title>
        <h2>LogIn</h2>
    </mat-card-title>
    <mat-card-content class="login-content">
        <form (submit)="Login()" class="login-form">
            <mat-form-field class="form-group">
                <input matInput type="email" [(ngModel)]="credentials.email" placeholder="email" name="email" #email="ngModel">
            </mat-form-field>
            <mat-form-field class="form-group">
                <input matInput type="password" [(ngModel)]="credentials.password" placeholder="Password" name="password" #password="ngModel">
            </mat-form-field>
            <button type="submit" class="login-btn" mat-raised-button color="primary">LogIn</button>
        </form>
    </mat-card-content>
  </mat-card>
