<div id="Flash-screen">
  <div id="flash-left-section">
      <div class="flash-card">    
          <h1>Zettamine Portfolio</h1>
      </div>
        <div class="flash-description">
        </div>
  </div>

  <mat-card id="flash-right-section">
    <div *ngIf="hasAccount" id="login-section">
      <app-login></app-login>
      <p>Dont have an account <button class="login-signup" mat-stroked-button color="primary" (click)="HasNoAccount()">Signup</button></p>
    </div>

    <div *ngIf="!hasAccount" id="signup-section">
      <app-signup></app-signup>
      <p>Already have an account <button mat-stroked-button color="primary"class="login-signup"(click)="HasAccount()">Login</button></p>
    </div>
  </mat-card>

</div>
