.profile-content
    grid-area: header
    justify-self: center

.profile-avatar
    grid-area: avatar
    border: #000 1px solid
    grid-column: 2/3
    grid-row: 1/2
    align-self: center
    width: 100px
    margin-left: 40%


.item-a
    grid-area: fname
    width: 300px
    margin-left: 20px
    justify-self: center
.item-b
    width: 300px
    margin-left: 20px
    grid-area: lname
    justify-self: center

.item-c
    width: 300px
    margin-left: 20px
    grid-area: email
    justify-self: center
.item-d
    width: 300px
    margin-left: 20px
    grid-area: uname
    justify-self: center
.item-e
    width: 300px
    margin-left: 20px
    grid-area: mnum
    justify-self: center
.item-f
    width: 300px
    margin-left: 20px
    grid-area: adds
    justify-self: center
.item-g
    width: 300px
    margin-left: 20px
    grid-area: gen
    justify-self: center
.item-h
    width: 300px
    margin-left: 20px
    grid-area: state
    justify-self: center
.item-i
    width: 300px
    margin-left: 20px
    grid-area: city
    justify-self: center
.item-j
    width: 300px
    margin-left: 20px
    grid-area: pcode
    justify-self: center
.item-k
    width: 300px
    margin-left: 20px
    grid-area: dob
    justify-self: center
.item-l
    width: 300px
    margin-left: 20px
    grid-area: btn
    justify-self: end

.profil-form
    display: grid
    grid-area: form
    border: #001628 solid 1px
    grid-template-columns: 50% 50%
    grid-column: 1/2
    grid-row: 1/2
    grid-template-areas: "fname lname" "email uname" "mnum adds" "gen state" "city pcode" "dob ." "btn btn"


.profile-content
    display: grid
    grid-template-columns: repeat(2, 1fr)
    border: #000 solid 1px
.profile-page
    display: flex
    flex-direction: column
    align-items: center
