<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened mode="side">
      
      <nav id="side-Nav">
        <ul class="side-nav-list">
          <button class="side-nav-btn" mat-raised-button (click)="clickMe('dashboard')">Dashboard </button>
          <button class="side-nav-btn" mat-raised-button (click)="clickMe('allocation')">Allocation </button>
          <button class="side-nav-btn" mat-raised-button (click)="clickMe('market')">Market   </button>
          <button class="side-nav-btn" mat-raised-button (click)="clickMe('profile')">Profile</button>
          <button class="side-nav-btn" mat-raised-button (click)="clickMe('about')">About</button>
        </ul>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <div [ngSwitch]="navbtnvalue">
        <app-dashboard *ngSwitchCase="'dashboard'"></app-dashboard>
        <app-allocations *ngSwitchCase="'allocation'"></app-allocations>
        <app-market *ngSwitchCase="'market'"></app-market>
        <app-profile *ngSwitchCase="'profile'"></app-profile>
        <app-about *ngSwitchCase="'about'" ></app-about>
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>
