.sidenav-container
    height: 100%
    //background-color: #c8ffea

.sidenav
    background-color: #001628
    width: 200px
    height: 600px

#side-Nav ul
    display: flex
    flex-direction: column

.side-nav-btn
    background: #001628
    margin-top: 24px
    border: black solid 1px
    width: 100%
    color: white
