.sidenav-container
    height: 100%
    overflow: visible
    display: flex
    flex-direction: column
        //background-color: #c8ffea
     
.secondry-toolbar
    background-color: #0a0909
    color: white
    display: flex
    justify-content: flex-end
    height: 70px
    margin-top: 0px

.sidenav
    background-color: #312f2f
    width: 200px
    height: 100px

#side-Nav ul
    float: right


.side-nav-btn
    background: #5d4e4e9c
    margin-top: 24px
    border: black solid 1px
    width: 150px
    color: white
.main-content
    background-color: #F0FFF0
    height: 100%
    overflow: visible

.side-nav-list
    display: flex
    margin-top: 0px 
    margin-right: 20px
    justify-content: flex-end
    align-items: flex-end